<footer>
  <div class="">
    <strong>Kiaisoft Viet Nam Co., Ltd</strong>
    <br>
    <span >C+ Office, Thanh Thai Street, Cau Giay District, Ha Noi</span>
    <br>
    <span >TEL: (+84) 982 851486 | URL: https://kiaisoft.com/</span>
  </div>

  <div class="" style="margin: 20px 0 20px 0 ">
    <strong>Kiaisoft Đà Nẵng</strong>
    <br>
    <span style="margin-bottom: 0">4F, Ricco Building, 363 Nguyen Huu Tho, Cam Le, Da Nang</span>
  </div>

  <div class="">
    <strong>Kiaisoft Japan</strong>
    <br>
    <span style="margin-bottom: 0">〒102-0074 Tokyo, Chiyoda-ku, Kudanminami, 1-chōme−5−6</span>
    <br>
    <span style="margin-bottom: 0">TEL: (+84) 982 851486 | URL: https://kiaisoft.com/</span>
  </div>
</footer>



