<!DOCTYPE html>
<html lang="en">
<%= render 'layouts/head' %>
<body class="bg-gradient-info d-flex align-items-center " style="height: 100vh">
<%= render 'layouts/alert' %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>