<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">
          <%= render partial: 'user/conversations/nav_conversation' %>
        </div>
        <%= render partial: 'user/messages/message' %>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        $('html, body').animate({
            scrollTop: $(".chat-app").offset().top
        }, 100);
        $('.chat-history').scrollTop($('.chat-history')[0].scrollHeight);
        if ($('.pagination').length && $('.chat-history').length) {
            $('.chat-history').on('scroll', function(){
                let more_posts_url = $('.pagination .next_page a').attr('href');
                if(more_posts_url) {
                    more_posts_url = more_posts_url;
                } else {
                    more_posts_url= $('.pagination .next a').attr('href');
                }
                if (more_posts_url && $('.chat-history').scrollTop()  === 0) {
                    $.getScript(more_posts_url);
                }
            });
        }
    })

</script>