<h4 class='text-center text-danger '>Thống kê</h4>
<div class='card nobreak'>
  <div class='card-header'>
    Đơn hàng
  </div>
  <div class='card-body'>
    <img src="<%= url_chart_delivery %>" class='image-chart'>
  </div>
</div>
<div class='card mt-5 nobreak'>
  <div class='card-header'>
    Doanh thu
  </div>
  <div class='card-body'>
    <img src="<%= url_chart_bill %>" class='image-chart'>
  </div>
</div>
<div class='card nobreak'>
  <div class='card-header'>
    Doanh thu theo đại lý
  </div>
  <div class='card-body'>
    <img src="<%= url_chart_brand %>" class='image-chart'>
  </div>
</div>
