<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.name %></h1>
<p>
  Tạo tài khoản thành công
  <br>
  Mật khẩu của bạn là: <%= @password %>
  <br>
  Vui lòng đăng nhập vào và đổi mật khẩu
</p>
<%= render 'layouts/mailer/footer' %>

</body>
</html>